-var name = 'Alex'
-var homeIcon = 'uit uit-house-user'
-var userIcon ='uit uit-house-user'
-var aboutIcon ='uit uit-house-user'
-var skillsIcon ='uit uit-house-user'
-var servicesIcon ='uit uit-house-user'
-var portfolioIcon ='uit uit-house-user'
-var contactMeIcon ='uit uit-house-user'
-var closeMenuIcon ='fas fa-times'
-var appsIcon = 'fas fa-bars'
