meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")

//- Google Icons
link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

//- CSS
link(rel="stylesheet" href="/assets/css/index.css")

