mixin listItem(item, nameIcon, idItem, active)
  li.nav__item
    -if(idItem == '')
      a(href="#"+ item.toLowerCase() class="nav__link "+ active)
        +icon(nameIcon, 'nav__icon')
        |#{item}
    -else
      a(href="#"+ idItem class="nav__link "+ active)
        +icon(nameIcon, 'nav__icon')
        |#{item}

header.header#header 
  nav.nav.container
    a(href="#").nav__logo #{name}
    .nav__menu#nav-menu
      ul.nav__list.grid
        +listItem('Home',homeIcon, '','active-link')
        +listItem('About',userIcon,'','')
        +listItem('Skills',skillsIcon,'','')
        +listItem('Services',servicesIcon,'','')
        +listItem('Portfolio',portfolioIcon,'','')
        +listItem('Contact me',contactMeIcon, 'contact','')
      // Close Menu Icon
      i.nav__icon.nav__close#nav-close
        span(class='material-icons') #{closeIcon}
    .nav__btns
      .nav__toggle#nav-toggle
        +icon(appsIcon, 'nav__icon')